@import './pages/resultsPage/styling/item.css' layer(components);
@import './components/sharedFilters/styling/sharedComponents.css' layer(components);
@import './pages/errorPage/errorPage.css' layer(components);
@import './pages/resultsPage/styling/header.css' layer(components);
@import './pages/mainPage/styling/core_mainPage.css' layer(components);
@import './pages/individualPage/styling/individualPage.css' layer(components);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles */
html, body {
    /* Ensure overflow is not set to hidden */
    overflow: visible;
}

/* Min-Max.css */
.no-spinners {
    appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
