/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities can be added here using @layer */
@layer utilities {
  /* Hide spinner controls in WebKit browsers */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide spinner controls in Firefox */
  /* .no-spinner[type=number] {
    -moz-appearance: textfield;
  } */
}
